<!-- update-account -->
<h1>Update Account</h1>


<!---The Messagee Block-->
<% if (messages.length > 0) { %>
    <div class="alert alert-info" id="flash-message">
        <% messages.forEach(function(message) { %>
            <p><%= message %></p>
        <% }); %>
    </div>
  <% } %>

<form action="/account/update-account" method="POST">
    <label for="account_firstname">First Name:</label>
    <input type="text" name="account_firstname" value="<%= locals.account_firstname %>" required>
    
    <label for="account_lastname">Last Name:</label>
    <input type="text" name="account_lastname" value="<%= locals.last_name %>" required>
    
    <label for="account_email">Email:</label>
    <input type="email" name="account_email" value="<%= locals.account_email %>" required>
    
    <input type="hidden" name="account_id" value="<%= locals.account_id %>">
    <button type="submit">Update</button>
</form>

<h2>Change Password</h2>
<form action="/change-password" method="POST">
    <label for="newPassword">New Password:</label>
    <input type="password" name="newPassword" required>
    <input type="hidden" name="account_id" value="<%= locals.account_id %>">
    <button type="submit">Change Password</button>
</form>

<script src="/js/flash.js"></script>