<!---The Heading Content View-->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!---The Messagee Block-->
<% if (messages.length > 0) { %>
    <div class="alert alert-info" id="flash-message">
        <% messages.forEach(function(message) { %>
            <p><%= message %></p>
        <% }); %>
    </div>
  <% } %>

<h1>Modifying Inventory Item</h1>


<form id="updateForm" action="/inv/update" method="POST">
    <label for="inv_make">Make:</label>
    <input type="text" name="inv_make" id="inv_make" required>

    <label for="inv_model">Model:</label>
    <input type="text" name="inv_model" id="inv_model" required>

    <label for="classification_id">Classification:</label>
    <select name="classification_id" id="classification_id" required>
        <option value="">Choose a Classification</option>
        <% classifications.forEach(classification => { %>
            <option value="<%= classification.classification_id %>"><%= classification.classification_name %></option>
        <% }) %>
    </select>

    <label for="inv_image">Image URL:</label>
    <input type="text" name="inv_image" id="inv_image">

    <button type="submit" disabled>Update Vehicle</button>
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
</form>
<script src="/js/inv-update.js"></script>
<script src="/js/flash.js"></script>
